#root {
  height: 100%;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: border-box;

    thead {
      position: sticky;
      top: 0;
      left: 0;

      th {
        background-color: var(--sl-color-neutral-700);
        color: var(--sl-color-neutral-0);

        padding: var(--sl-spacing-x-small);
        text-align: left;

        border-left: 1px solid var(--sl-color-neutral-300);
        border-bottom: 1px solid var(--sl-color-neutral-700);
        &:first-child {
          border-left: 1px solid var(--sl-color-neutral-700);
        }

        box-shadow: 0 2px 4px
          color-mix(in srgb, var(--sl-color-neutral-700) 12%, transparent);
      }
    }

    tbody {
      tr {
        cursor: pointer;
        user-select: none;
        transition: background 0.2s;

        // 交互色
        &:nth-child(even) {
          background: var(--sl-color-neutral-200);
        }

        td {
          user-select: none;
          padding: var(--sl-spacing-x-small) var(--sl-spacing-x-small);
          vertical-align: middle;
          max-width: 15rem;
          min-width: 5rem;

          border-left: 1px solid var(--sl-color-neutral-300);
          border-bottom: 1px solid var(--sl-color-neutral-300);

          &:hover {
            background-color: var(--sl-color-primary-800);
            text-decoration: underline;
          }
        }

        &:hover {
          background-color: var(--sl-color-primary-700);
          td {
            color: var(--sl-color-neutral-0);
          }
          cursor: pointer;
        }
      }
    }
  }
}
