ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.root {
  display: flex;
  align-items: center;
  height: 100%;

  background-color: var(--sl-color-primary-900);

  #menu-button {
    flex: 0 0 auto;
    color: var(--sl-color-neutral-0);
    font-size: var(--sl-font-size-large);
  }

  .app-name {
    flex: 0 0 auto;
    color: var(--sl-color-neutral-0);
    font-size: var(--sl-font-size-large);
    font-weight: var(--sl-font-weight-bold);
    margin-top: -3px;
  }

  sl-input {
    flex: 1 1 auto;
    margin-left: var(--sl-spacing-2x-large);
    margin-right: var(--sl-spacing-3x-large);
  }

  sl-drawer {
    sl-tab-group {
      sl-tab {
        sl-icon {
          margin-right: var(--sl-spacing-2x-small);
        }
      }
    }
  }
}
